*, ::after, ::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: system-ui, sans-serif;
}

html {
    color-scheme: dark;
}


img, picture, video, svg {
    display: block;
    max-width: 100%;
}
